.dragicon {
	-fx-background-radius: 10;
	-fx-background-color: transparent;
}
/*
.cubic-icon {
	-fx-fill:
	rgba(80.0, 80.0, 80.0, 0.0);

	-fx-stroke: black;
}
*/
.node-overlay {
	-fx-background-radius: 10 10 0 0;
	/*-fx-background-color:
	linear-gradient(to bottom, rgba(255,255,255,0.7) 15%, rgba(50,100,150,0.45) 100%);
	*/
	-fx-background-color: transparent;
}
/*
.right-link-handle:hover {
	-fx-background-radius: 0 0 10 0;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}

.left-link-handle:hover {
	-fx-background-radius: 0 0 0 10;
	-fx-background-color:
	rgba(255, 255, 255, 0.35);
}
*/
.hide_text_field{
	visibility: hidden;
}

.icon_closed_switch {
	-fx-background-color: white;
	-fx-background-image: url('closed_switch.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_LED {
	-fx-background-color: white;
	-fx-background-image: url('LED.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_open_switch {
	-fx-background-color: white;
	-fx-background-image: url('open_switch.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_lamp {
	-fx-background-color: white;
	-fx-background-image: url('lamp.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_cell {
	-fx-background-color: white;
	-fx-background-image: url('cell.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_button_switch {
	-fx-background-color: white;
	-fx-background-image: url('button_switch.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.icon_resistor {
	-fx-background-color: white;
	-fx-background-image: url('resistor.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.wire{
	-fx-background-color: white;
	-fx-background-image: url('a.jpg');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.voltage{
	-fx-background-color: white;
	-fx-background-image: url('v.jpg');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}

.leftpoint{
	-fx-background-color: white;
	-fx-background-image: url('leftpoint.png');
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-border-width: 2px;
  	-fx-border-color: grey;
}
